dra/SRA.analysis.common.kodama.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- INSDC Sequence Read Archive resource common Analysis (SRZ/ERZ/DRZ) object XML specification for metadata exchange -->
<!-- version:0.1.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!--  <xs:include schemaLocation="http://www.ncbi.nlm.nih.gov/viewvc/v1/trunk/sra/doc/SRA_1-5/SRA.common.xsd?view=co"/>  -->

  <xs:include schemaLocation="SRA.common.xsd"/>

  <xs:complexType name="AnalysisFileType">

    <xs:attribute name="filename" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The name or relative pathname of an analysis file. The actual file name
          extension is irrelevant so long as the filetype is correctly indicated, and in the case of
          binary files the correct magic number is embedded in the file. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="filetype" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ace">
            <xs:annotation>
              <xs:documentation> Multiple alignment file output from the phred assembler and similar
                programs. See http://www.phrap.org/consed/distributions/README.16.0.txt for a
                description of the ACE file format. </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="tab">
            <xs:annotation>
              <xs:documentation> A tab delimited text file that can be viewed as a spreadsheet. The
                first line should contain column headers. </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="bam">
            <xs:annotation>
              <xs:documentation> Binary form of the Sequence Alignment/Map (SAM) format for read
                placements, from the SAM tools project. See
                http://sourceforge.net/projects/samtools/ . BAM files are processed by SRA as
                primary data and should be specified in a Run. </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="fasta">
            <xs:annotation>
              <xs:documentation> Sequence data format indicating sequence base calls. The format is
                simple: a header line initiated with the &gt; character, data lines following with
                base calls. </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="fastq"> </xs:enumeration>
          <xs:enumeration value="wig">
            <xs:annotation>
              <xs:documentation> The wiggle (WIG) format allows display of continuous-valued data in
                track format. This display type is useful for GC percent, probability scores, and
                transcriptome data. See http://genome.ucsc.edu/goldenPath/help/wiggle.html for a
                description of the Wiggle Track format. </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="bed">
            <xs:annotation>
              <xs:documentation> BED format provides a flexible way to define the data lines that
                are displayed in an annotation track. See
                http://genome.ucsc.edu/FAQ/FAQformat#format1 for a description of the BED format.
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="vcf">
            <xs:annotation>
              <xs:documentation>Variant Call Format</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="maf">
            <xs:annotation>
              <xs:documentation>Mutation Annotation Format</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="gff">
            <xs:annotation>
              <xs:documentation>General Feature Format</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="gfa">
            <xs:annotation>
              <xs:documentation>Graphical Fragment Assembly</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="csv"/>
          <xs:enumeration value="tsv"/>
          <xs:enumeration value="BioNano_native">
            <xs:annotation>
              <xs:documentation>BioNano native file formats.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="BioNano_native_BNX">
            <xs:annotation>
              <xs:documentation>The Bionano Genomics BNX file is a raw data view of molecule and
                label information and quality scores per channel identified during a run or runs if
                data from multiple runs are merged. BNX v1.3 supports one or two label channels
                (colors).</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="BioNano_native_CMAP">
            <xs:annotation>
              <xs:documentation>The Bionano Genomics CMAP file is a data file which provides
                location information for label sites within a genome map or an in silico digestion
                of a reference or sequence data. The CMAP is a tab-delimited text-based
                file.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="BioNano_native_XMAP">
            <xs:annotation>
              <xs:documentation>The XMAP file reports the comparison derived from the alignment
                between an anchor CMAP file and a query CMAP file. The data line displays the map
                start and end coordinates and the locations of the labels on the map using a
                tab-delimited text based file.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="readme_file"/>
          <xs:enumeration value="info"/>
          <xs:enumeration value="manifest"/>
          <xs:enumeration value="other"> </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="checksum_method" use="required">
      <xs:annotation>
        <xs:documentation> Checksum method used. </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="MD5">
            <xs:annotation>
              <xs:documentation>Checksum generated by the MD5 method (md5sum in unix).
              </xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="checksum" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation> Checksum of the file. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>


  <xs:complexType name="DefaultProcessingType">
    <xs:annotation>
      <xs:documentation> Identify the tools and processing steps used to produce the de novo
        assembly. </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="PIPELINE" type="PipelineType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="AlignmentProcessingType">
    <xs:annotation>
      <xs:documentation> Identify the tools and processing steps used to produce the reference
        alignment. </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="PIPELINE" type="PipelineType"/>
      <xs:element name="DIRECTIVES" type="AlignmentDirectivesType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="SraLinkType">
    <xs:annotation>
      <xs:documentation> The SraLinkType mechanism encodes local references between SRA objects.
        These references are local to the Home Archive and during archival are resolved to
        exportable references suitable for mirroring between Archives. SraLinks can be used as
        temporary place holders for pre-published or post-suppressed relationships that will not be
        mirrored between Archives. </xs:documentation>
    </xs:annotation>
    <xs:attribute name="sra_object_type" use="optional">
      <xs:annotation>
        <xs:documentation> SRA link type. </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="STUDY"/>
          <xs:enumeration value="SAMPLE"/>
          <xs:enumeration value="ANALYSIS"/>
          <xs:enumeration value="EXPERIMENT"/>
          <xs:enumeration value="RUN"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="RefNameGroup"/>
  </xs:complexType>

  <xs:complexType name="AnalysisType">
    <xs:annotation>
      <xs:documentation> A SRA analysis object captures secondary analysis results from a sequence
        read dataset. This analysis can the results of short reads used in assembly, alignment,
        abundance instrumentation. The analysis can also be a list of reads, or a fasta file of
        trimmed reads associated with the experiment. The analysis can be technical data represented
        in a tab separated file (spreadsheet). </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IDENTIFIERS" type="IdentifierType" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>List of primary and alternate identifiers including those records
            replacing or replaced by this record. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TITLE" maxOccurs="1" minOccurs="1" type="xs:string">
        <xs:annotation>
          <xs:documentation> Title of the analyis object which will be displayed in short form in
            the Analysis browser and in database search results. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="STUDY_REF">
        <xs:annotation>
          <xs:documentation>Identifies a parent study.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="IDENTIFIERS" type="IdentifierType" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation> Set of reference IDs. </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attributeGroup ref="RefNameGroup"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="SAMPLE_REF" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>One of BioSample records associated with the
            analysis.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="IDENTIFIERS" type="IdentifierType" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation> Set of reference IDs. </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attributeGroup ref="RefNameGroup"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="EXPERIMENT_REF" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>One of SRA Experiments associated with the analysis.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="IDENTIFIERS" type="IdentifierType" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation> Set of reference IDs. </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attributeGroup ref="RefNameGroup"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="RUN_REF" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation> One of SRA Runs associated with the analysis.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="IDENTIFIERS" type="IdentifierType" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation> Set of reference IDs. </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attributeGroup ref="RefNameGroup"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="ANALYSIS_REF" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation> One or more SRA analyses associated with the analysis. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:all>
            <xs:element name="IDENTIFIERS" type="IdentifierType" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation> Set of reference IDs. </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:all>
          <xs:attributeGroup ref="RefNameGroup"/>
          <xs:attribute name="label" type="xs:string">
            <xs:annotation>
              <xs:documentation>A label associating the analysis with analysis references in data files.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="DESCRIPTION" type="xs:string">
        <xs:annotation>
          <xs:documentation> Describes the contents of the analysis objects, their relationship with
            one another, the target objects, and their place in the overall study.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="ANALYSIS_TYPE">
        <xs:annotation>
          <xs:documentation> Supported analysis types. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="METAGENOME_ASSEMBLY">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="NAME" type="xs:string"/>
                  <xs:element minOccurs="0" name="TYPE">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="primary metagenome">
                          <xs:annotation>
                            <xs:documentation>An original metagenome assembly prior to binning from
                              a sampled biome or collection of sampled biomes without attempt to
                              separate taxa.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="binned metagenome">
                          <xs:annotation>
                            <xs:documentation>A set of contigs drawn from primary or unbinned
                              metagenomes grouped into a single-taxon set.</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="Metagenome-Assembled Genome (MAG)">
                          <xs:annotation>
                            <xs:documentation>A single-taxon assembly based on a binned metagenome
                              asserted to be a close representation to an actual individual genome
                              (that could match an already existing isolate or represent a novel
                              isolate).</xs:documentation>
                          </xs:annotation>
                        </xs:enumeration>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="PARTIAL" type="xs:boolean"> </xs:element>
                  <xs:element name="COVERAGE" type="xs:string"/>
                  <xs:element name="PROGRAM" type="xs:string"/>
                  <xs:element name="PLATFORM" type="xs:string"/>
                  <xs:element minOccurs="0" name="MIN_GAP_LENGTH" type="xs:integer"/>
                  <xs:element minOccurs="0" name="MOL_TYPE">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="genomic DNA"/>
                        <xs:enumeration value="genomic RNA"/>
                        <xs:enumeration value="viral cRNA"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="TPA" type="xs:boolean"/>
                  <xs:element minOccurs="0" name="AUTHORS" type="xs:string"/>
                  <xs:element minOccurs="0" name="ADDRESS" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="BASE_MODIFICATION">
              <xs:annotation>
                <xs:documentation> Base modification (e.g. methylation) data. </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice>
                  <xs:element name="STANDARD">
                    <xs:annotation>
                      <xs:documentation>A standard genome assembly.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:attribute name="refname" type="xs:string" use="optional">
                        <xs:annotation>
                          <xs:documentation> A recognized name for the genome assembly.
                          </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                      <xs:attribute name="accession" type="xs:token">
                        <xs:annotation>
                          <xs:documentation> Identifies the genome assembly using an accession
                            number and a sequence version. </xs:documentation>
                        </xs:annotation>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="CUSTOM">
                    <xs:annotation>
                      <xs:documentation> Other genome assembly. </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="DESCRIPTION"
                          type="xs:string">
                          <xs:annotation>
                            <xs:documentation>Description of the genome
                              assembly.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" name="URL_LINK">
                          <xs:annotation>
                            <xs:documentation>A link to the genome
                              assembly.</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:all>
                              <xs:element maxOccurs="1" minOccurs="0" name="LABEL"
                                type="xs:string">
                                <xs:annotation>
                                  <xs:documentation> Text label to display for the link.
                                  </xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element maxOccurs="1" minOccurs="1" name="URL"
                                type="xs:anyURI">
                                <xs:annotation>
                                  <xs:documentation> The internet service link (file:, http:,
                                    ftp:, etc). </xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:all>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="GENOME_MAP">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PROGRAM" type="xs:string"/>
                  <xs:element name="PLATFORM">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="BioNano"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="DESCRIPTION" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ASSEMBLY_GRAPH">
              <xs:annotation>
                <xs:documentation> Assembly graph. </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ASSEMBLY" maxOccurs="unbounded">
                    <xs:annotation>
                      <xs:documentation> Reference assembly details. </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:choice>
                        <xs:element name="STANDARD">
                          <xs:annotation>
                            <xs:documentation>A standard genome assembly.</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:attribute name="refname" type="xs:string" use="optional">
                              <xs:annotation>
                                <xs:documentation> A recognized name for the genome assembly.
                                </xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="accession" type="xs:token">
                              <xs:annotation>
                                <xs:documentation> Identifies the genome assembly using an accession
                                  number and a sequence version. </xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="CUSTOM">
                          <xs:annotation>
                            <xs:documentation> Other genome assembly. </xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="1" minOccurs="0" name="DESCRIPTION"
                                type="xs:string">
                                <xs:annotation>
                                  <xs:documentation>Description of the genome
                                    assembly.</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element maxOccurs="unbounded" name="URL_LINK">
                                <xs:annotation>
                                  <xs:documentation>A link to the genome
                                    assembly.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                  <xs:all>
                                    <xs:element maxOccurs="1" minOccurs="0" name="LABEL"
                                      type="xs:string">
                                      <xs:annotation>
                                        <xs:documentation> Text label to display for the link.
                                        </xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                    <xs:element maxOccurs="1" minOccurs="1" name="URL"
                                      type="xs:anyURI">
                                      <xs:annotation>
                                        <xs:documentation> The internet service link (file:, http:,
                                          ftp:, etc). </xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                  </xs:all>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:choice>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>

      <xs:sequence>
        <xs:element name="FILES">
          <xs:annotation>
            <xs:documentation> Files associated with the analysis. </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1" name="FILE" type="AnalysisFileType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>

      <xs:element maxOccurs="1" minOccurs="0" name="ANALYSIS_LINKS">
        <xs:annotation>
          <xs:documentation> Links to resources related to this analysis or analysis set
            (publication, datasets, online databases). </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="ANALYSIS_LINK" type="LinkType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ANALYSIS_ATTRIBUTES">
        <xs:annotation>
          <xs:documentation> Properties and attributes of an analysis. These can be entered as
            free-form tag-value pairs. For certain studies, submitters may be asked to follow a
            community established ontology when describing the work. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded" minOccurs="1">
            <xs:element name="ANALYSIS_ATTRIBUTE" type="AttributeType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="NameGroup"/>
    <xs:attribute name="analysis_center" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation> Use SRA center_name. If applicable, the center name of the institution
          responsible for this analysis. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="analysis_date" type="xs:dateTime" use="optional">
      <xs:annotation>
        <xs:documentation> The ISO date when this analysis was produced. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AnalysisSetType">
    <xs:sequence maxOccurs="unbounded" minOccurs="1">
      <xs:element name="ANALYSIS" type="AnalysisType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ANALYSIS_SET" type="AnalysisSetType">
    <xs:annotation>
      <xs:documentation> An ANALYSIS_SET is a container of analysis objects with a shared namespace.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ANALYSIS" type="AnalysisType"/>
</xs:schema>
